/* 
        MAIN COLOR: #087f5b
        GREY COLOR: #343a40
        */

* {
  margin: 0;
  padding: 0;
}

/* body {
            font-family: "Playfair Display", serif, sans-serif;
            color: #343a40;
            line-height: 1;
        } */

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}

.carousel {
  background-color: #087f5b;
  width: 800px;
  margin: 100px auto;
  padding: 32px;
  padding-left: 86px;
  padding-right: 48px;
  color: #e6fcf5;
  position: relative;

  /* FLEX */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 86px;
}

img {
  height: 200px;
  transform: scale(1.5);
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.btn {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon {
  stroke: #087f5b;
  width: 24px;
  height: 24px;
}

.btn-left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.btn-right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.quote-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
}

.quote-author {
  font-size: 14px;
  margin-bottom: 8px;
}

.quote-job {
  font-size: 12px;
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 32px);

  display: flex;
  gap: 16px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 2px solid #087f5b;
  border-radius: 50%;
}

.dot-fill {
  background-color: #087f5b;
}
